<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{{_('Medical Questionnaire')}}</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Roboto:400,700&display=swap"
    rel="stylesheet" />

  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static',filename='css/responsive.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static',filename='css/datatables.min.css') }}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <div class="navbar-brand">
            <img src="" alt="" />
            <span>
              {{_('Umango Medical Related Document Demo')}}
            </span>
          </div>
          <div class="row" style="margin-left: auto;">
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{_('Medical Questionnaire')}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="{{ url_for('medicalQuestionnairePage') }}" class="dropdown-item active">
                      {{_('Medical Questionnaire')}} 
                    </a>
                    <a href="{{ url_for('introductionLetterPage') }}" class="dropdown-item">
                      {{_('Letter of Introduction')}} 
                    </a>
                    <a href="{{ url_for('landingPage') }}" class="dropdown-item">
                      {{_('Home')}} 
                    </a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_language|upper  }}  
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for code, name in languages.items() %}
                    <a href="{{ url_for('set_language', lang=code) }}" class="{% if code == current_language %} dropdown-item active {% else %} dropdown-item {% endif %}">
                      {{name}} 
                    </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
</div>

<section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-3 mb-3">
          <!-- Alert Message -->
          <div id="alert-success" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
              <span id="alert-message"></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div id="alert-failed" class="alert alert-danger alert alert-dismissible fade show" role="alert" style="display: none;">
              <span id="alert-message"></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <hr style="border: 0.5px solid white;">
          <h2 class="custom_heading">
            {{_('Medical Questionnaire List')}}
          </h2>
            <!-- <a href='/export-list-csv?document=monshinhyou' >
                <button type="button" class="btn btn-primary ml-3 mb-2">{{_('Export List')}}</button>
            </a> -->
          <div class="ml-3 mr-3">
            <table id="example" class="display table table-small table-light table-bordered table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{_('Username')}}</th>
                  <th scope="col">{{_('Date')}}</th>
                  <th scope="col">{{_('Patient Name')}}</th>
                  <th scope="col">{{_('Birthday')}}</th>
                  <th scope="col">{{_('Symptoms')}}</th>
                  <th scope="col">{{_('Currently Treated Illness')}}</th>
                  <th scope="col">{{_('Medication')}}</th>
                  <th scope="col">{{_('Food Allergies')}}</th>
                  <th scope="col">{{_('Drug Allergies')}}</th>
                  <th scope="col">{{_('Medical History')}}</th>
                  <th scope="col">{{_('Drinking Habits')}}</th>
                  <th scope="col">{{_('Smoking Habits')}}</th>
                </tr>
              </thead>
              <tbody>
                {% for data in monshinhyouList.data %}
                <tr id="{{data.id}}">
                  <td>
                    {{loop.index}} <br> 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-file_location="{{data.file_location}}" data-file_url="{{ url_for('preview_file', filename=data.file_url) }}">
                      {{_('View')}}
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" 
                      data-monshinhyou_id="{{ data.id }}" data-patient_name="{{ data.patient_name }}" data-birthday="{{data.birthday}}"
                      data-date="{{data.date}}" data-url="{{ url_for('deleteMedicalQuestionnaire', monshinhyou_id=data.id) }}"
                    >
                      {{_('Delete')}}
                    </button>
                  </td>
                  <td>{{data.username}}</td>
                  <td>{{data.date}}</td>
                  <td>{{data.patient_name}} ({{data.gender}})</td>
                  <td>{{data.birthday}}</td>
                  <td>{{data.symptoms}}</td>
                  <td>{{data.current_illness}}</td>
                  <td>{{data.medication}}</td>
                  <td>{{data.food_allergies}}</td>
                  <td>{{data.drug_allergies}}</td>
                  <td>{{data.medical_history}}</td>
                  <td>{{data.drinking_habits}}</td>
                  <td>{{data.smoking_habits}}</td>
                </tr>
                {% endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Modal for seeing the PDF details  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_('Details')}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="file_location">Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_('Close')}}</button>
        <a class="btn btn-success" id="preview_button" href="" target="_blank" rel="noopener noreferrer">{{_('Open')}}</a> <br>
      </div>
    </div>
  </div>
</div>

<!-- Modal for delete confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_('Delete')}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="delete_confirmation">
          <tbody>
            <tr>
              <td>{{_('Date')}}</td>
              <td id="confirm_date">{{_('Date')}}</td>
            </tr>
            <tr>
              <td>{{_('Patient Name')}}</td>
              <td id="confirm_name">{{_('Patient Name')}}</td>
            </tr>
            <tr>
              <td>{{_('Birthday')}}</td>
              <td id="confirm_birthday">{{_('Birthday')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_('Close')}}</button>
        <form id="deleteForm">
          <input hidden type="text" id="monshinhyou_id" name="monshinhyou_id" value="">
          <button class="btn btn-danger" id="delete_button" type="submit">{{_('Delete')}}</button>
        </form>
      </div>
    </div>
  </div>
</div>


  <footer class="container-fluid footer_section">
    <p>
      &copy;<script>document.write(new Date().getFullYear())</script>
      {{_(' All Rights Reserved By')}}
      <a href="https://html.design/">COSY Inc</a>
    </p>
  </footer>
  <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static',filename='js/circles.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
  <script src="{{ url_for('static',filename='js/settingpage/settingpage.js') }}"></script>
  <script src="{{ url_for('static',filename='js/datatables.min.js') }}"></script>
  <script>
    //DataTable Scripts
    $('#example').DataTable( {
      order: [[0, 'asc']]
    });

    //Modal Scripts
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var file_location = button.data('file_location');
      var file_url = button.data('file_url')

      // Update the modal's content
      var modal = $(this);
      modal.find('.file_location').text(file_location);
      document.getElementById("preview_button").href = file_url;
    });

    //Modal Scripts
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var monshinhyou_id = button.data('monshinhyou_id');
      var patient_name = button.data('patient_name');
      var birthday = button.data('birthday');
      var date = button.data('date');

      // Update the modal's content
      var modal = $(this);
      document.getElementById('monshinhyou_id').value = monshinhyou_id;
      modal.find('#confirm_date').text(': '+date);
      modal.find('#confirm_name').text(': '+patient_name);
      modal.find('#confirm_birthday').text(': '+birthday);
    });

    //Delete monshinhyou scripts
    document.getElementById('deleteForm').addEventListener('submit', async (e) => {
      e.preventDefault(); // Prevent default form submission/page reload

      const formData = new FormData();
      const monshinhyou_id = document.getElementById('monshinhyou_id').value
      formData.append('monshinhyou_id', monshinhyou_id);

      // Send data to the Flask API endpoint
      const response = await fetch('/api/delete/medical-questionnaire', {
          method: 'POST',
          body: formData
      });

      const result = await response.json();
      if(result.message.toLowerCase().includes("success") || result.message.includes("成功")){
        document.getElementById('alert-success').style.display = "block";
        document.getElementById('alert-message').innerText = result.message;
        const row = document.getElementById(monshinhyou_id);
        if (row) {
          row.remove();
        }
        $('#deleteModal').modal('hide');

      } else {
        document.getElementById('alert-failed').style.display = "block";
        document.getElementById('alert-message').innerText = result.message;
        $('#deleteModal').modal('hide');
      }
    });
  </script>

</body>

</html>