<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{_('Umango Medical Related Document Demo')}}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/responsive.css') }}" rel="stylesheet" />
    </head>
    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{{_('Umango Medical Related Document Demo')}}</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Roboto:400,700&display=swap"
    rel="stylesheet" />

  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static',filename='css/responsive.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static',filename='css/datatables.min.css') }}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <div class="navbar-brand">
            <img src="" alt="" />
            <span>
              {{_('Umango Medical Related Document Demo')}}
            </span>
          </div>
          <div class="row" style="margin-left: auto;">
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{_('Home')}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="{{ url_for('landingPage') }}" class="dropdown-item active">
                      {{_('Home')}} 
                    </a>
                    <a href="{{ url_for('medicalQuestionnairePage') }}" class="dropdown-item">
                      {{_('Medical Questionnaire')}} 
                    </a>
                    <a href="{{ url_for('introductionLetterPage') }}" class="dropdown-item">
                      {{_('Letter of Introduction')}} 
                    </a>
                    
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_language|upper  }}  
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for code, name in languages.items() %}
                    <a href="{{ url_for('set_language', lang=code) }}" class="{% if code == current_language %} dropdown-item active {% else %} dropdown-item {% endif %}">
                      {{name}} 
                    </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
     <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Umango医療関連文書</h1>
                            <h1 class="display-5 fw-bolder text-white mb-2">デモサイト</h1>
                            <!-- <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p> -->
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary mr-2 btn-lg px-4 me-sm-3" href="{{ url_for('medicalQuestionnairePage') }}">問診票</a>
                                <a class="btn btn-outline-light mr-2 btn-lg px-4" href="{{ url_for('introductionLetterPage') }}">紹介状</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>


  <footer class="container-fluid footer_section">
    <p>
      &copy;<script>document.write(new Date().getFullYear())</script>
      {{_(' All Rights Reserved By')}}
      <a href="https://html.design/">COSY Inc</a>
    </p>
  </footer>
  <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static',filename='js/circles.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
  <script src="{{ url_for('static',filename='js/settingpage/settingpage.js') }}"></script>
  <script src="{{ url_for('static',filename='js/datatables.min.js') }}"></script>

</body>